.pageoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffc0cb;
    z-index: 10;
    transition: transform 1s ease-out, visibility 1s;
    -webkit-transition: transform 1s ease-out, visibility 1s;
    -moz-transition: transform 1s ease-out, visibility 1s;
    -ms-transition: transform 1s ease-out, visibility 1s;
    -o-transition: transform 1s ease-out, visibility 1s;
}

.logocontent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    transition: fade-out 1s;
    -webkit-transition: fade-out 1s;
    -moz-transition: fade-out 1s;
    -ms-transition: fade-out 1s;
    -o-transition: fade-out 1s;
}

.landingpage {
    transition: opacity 1s ease-in;
}

@keyframes zoomEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#main-logo {
    animation: zoomEffect 2s ease-out forwards;
}

button,html input[type=button],
input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    appearance: button;
    cursor: pointer;
}

button[disabled], html input[disabled] {
    cursor: default;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-appearance: textfiel;
    appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
}
