.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffc0cb;
    z-index: 10;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: transform 1s ease-out;
    -webkit-transition: transform 1s ease-out;
    -moz-transition: transform 1s ease-out;
    -ms-transition: transform 1s ease-out;
    -o-transition: transform 1s ease-out;
}

@keyframes revealContent {
    0% {
        transform: translate(-100%);
        -webkit-transform: translate(-100%);
        -moz-transform: translate(-100%);
        -ms-transform: translate(-100%);
        -o-transform: translate(-100%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}

}
