.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #161616;
    transition: 1s;
}

.imgload {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
